<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Do you want to contact us?</h1>
    <p>If you would like to contact us,
        please feel free to call the
        number below.
        (123) 456-7890
    </p>
    <div>Box 1</div>
    <div>Box 2</div>
    <div>Box 3</div>
    <div>Box 4</div>
    <footer>
        <div>Copyright 1982 by me!</div>
        <div>I actually DON'T like pie!</div>
    </footer>
</main>
